_scratch/
*.tmp.docx
~$*.docx
db/
incremental_db/
.DS_Store
*.DS_Store

.tmp.driveupload/


# Quét đệ quy toàn bộ thư mục cache
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Môi trường ảo
**/.venv/
**/venv/

# File tạm
**/.DS_Store
**/db/
**/incremental_db/